# Explore Colenda Records

## Welcome!

[Colenda Digital Repository at Penn Libraries](https://colenda.library.upenn.edu/) is a digital repository for digitized and born-digital material. It provides direct access and long-term stewardship for these important resources. Much of Colendaâ€™s content consists of materials owned and digitized by the Penn Libraries, including significant collections that have been donated.

In this notebook we'll have a preliminary look at data harvested from Colenda. What kind of data and files can we access in Colenda? We'll introduce how to calculate basic shape/stats of the data, split and concatenate columns, and access images in the collection. Other notebooks will explore data from Colenda over [time](kaplan_explore_time.ipynb) and [space](kaplan_explore_places.ipynb).

* [Import What We Need](#Import-What-We-Need)
* [Load the Data](#Load-the-Data)
* [Reviewing the Data](#Reviewing-the-Data)
* [Concatenate and Split Columns](#Concatenate-and-Split-Columns)
* [The `metadata.item_type` Field](#The-metadata.item_type-Field)
* [Access Images of Items in the Collection](#Access-Images-of-Items-in-the-Collection)
* [Need Help?](#Need-Help?)
* [Credits](#Credits)

<div class="alert alert-block alert-warning">
<p><b>Yellow blocks like this provide additional information about Python and Jupyter notebooks.</b></p>
    
<p>If you haven't used one of these notebooks before, they're basically web pages in which you can write, edit, and run live code. They're meant to encourage experimentation, so don't feel nervous. Just try running a few cells and see what happens!</p>

<p>
    Some tips:
    <ul>
        <li>Code cells have boxes around them.</li>
        <li>To run a code cell click on the cell and then hit <b>Shift+Enter</b>. The <b>Shift+Enter</b> combo will also move you to the next cell, so it's a quick way to work through the notebook.</li>
        <li>While a cell is running a <b>*</b> appears in the square brackets next to the cell. Once the cell has finished running the asterix will be replaced with a number.</li>
        <li>In most cases you'll want to start from the top of notebook and work your way down running each cell in turn. Later cells might depend on the results of earlier ones.</li>
        <li>To edit a code cell, just click on it and type stuff. Remember to run the cell once you've finished editing.</li>
    </ul>
</p>

<p><b>Is this thing on?</b> If you can't edit or run any of the code cells, you might be viewing a static (read only) version of this notebook. Click here to <a href="https://mybinder.org/v2/gh/GLAM-Workbench/national-museum-australia/master?urlpath=lab%2Ftree%2Fexplore_collection_object_over_time.ipynb">load a <b>live</b> version</a> running on Binder.</p>
</div>

## Import What We Need

<div>
    <p>In order to use this notebook, you first need to `import` modules and packages from Python.</p>
<div class="alert alert-block alert-warning">
<p>These modules and packages are units of code with specific tools or skills that we use in the script. If you're running this notebook on your computer, you may need to first `import` these modules within your Python interpreter. Find assistance for that <a href="https://packaging.python.org/tutorials/installing-packages/">here</a>.</p>
    </div>

In [20]:
!pip install -r requirements.txt

# Pandas is a Python package that provides numerous tools for data analysis. 
import pandas as pd

# IPython is a Python interpreter to display content.
from IPython.display import display, HTML, FileLink, Image

Requirement already satisfied: pandas in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.4.1)
Requirement already satisfied: ipyleaflet in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (0.14.0)
Requirement already satisfied: ipywidgets in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (7.6.5)
Requirement already satisfied: reverse_geocode in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 4)) (1.4.1)
Requirement already satisfied: altair in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 5)) (4.2.0)
Requirement already satisfied: IPython in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 6)) (7.31.1)
Requirement already satisfied: vega_datasets in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: geopandas in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 8)) (0.9.0)
Requirement already satisfied: geopy in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 9)) (2.2.0)
Requirement already satisfied: numpy in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 10)) (1.21.2)
Requirement already satisfied: requests in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 11)) (2.27.1)
Requirement already satisfied: statistics in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 13)) (1.0.3.5)
Requirement already satisfied: altair_saver in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from -r requirements.txt (line 15)) (0.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2021.3)
Requirement already satisfied: traittypes<3,>=0.2.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipyleaflet->-r requirements.txt (line 2)) (0.2.1)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->-r requirements.txt (line 3)) (6.9.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->-r requirements.txt (line 3)) (5.1.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->-r requirements.txt (line 3)) (3.5.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->-r requirements.txt (line 3)) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->-r requirements.txt (line 3)) (1.0.2)
Requirement already satisfied: nbformat>=4.2.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->-r requirements.txt (line 3)) (5.1.3)
Requirement already satisfied: scipy in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from reverse_geocode->-r requirements.txt (line 4)) (1.7.3)
Requirement already satisfied: jinja2 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair->-r requirements.txt (line 5)) (3.0.3)
Requirement already satisfied: jsonschema>=3.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair->-r requirements.txt (line 5)) (4.4.0)
Requirement already satisfied: toolz in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair->-r requirements.txt (line 5)) (0.11.2)
Requirement already satisfied: entrypoints in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair->-r requirements.txt (line 5)) (0.4)
Requirement already satisfied: backcall in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (0.2.0)
Requirement already satisfied: pickleshare in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (0.7.5)
Requirement already satisfied: pygments in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (4.8.0)
Requirement already satisfied: appnope in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (59.8.0)
Requirement already satisfied: matplotlib-inline in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (0.1.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (3.0.27)
Requirement already satisfied: decorator in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from IPython->-r requirements.txt (line 6)) (5.0.9)
Requirement already satisfied: shapely>=1.6 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from geopandas->-r requirements.txt (line 8)) (1.7.1)
Requirement already satisfied: fiona>=1.8 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from geopandas->-r requirements.txt (line 8)) (1.8.20)
Requirement already satisfied: pyproj>=2.2.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from geopandas->-r requirements.txt (line 8)) (3.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from geopy->-r requirements.txt (line 9)) (1.52)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from requests->-r requirements.txt (line 11)) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from requests->-r requirements.txt (line 11)) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from requests->-r requirements.txt (line 11)) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from requests->-r requirements.txt (line 11)) (2021.10.8)
Requirement already satisfied: docutils>=0.3 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from statistics->-r requirements.txt (line 13)) (0.16)
Requirement already satisfied: altair-data-server>=0.4.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair_saver->-r requirements.txt (line 15)) (0.4.1)
Requirement already satisfied: altair-viewer in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair_saver->-r requirements.txt (line 15)) (0.4.0)
Requirement already satisfied: selenium in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair_saver->-r requirements.txt (line 15)) (3.141.0)
Requirement already satisfied: portpicker in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair-data-server>=0.4.0->altair_saver->-r requirements.txt (line 15)) (1.5.0)
Requirement already satisfied: tornado in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from altair-data-server>=0.4.0->altair_saver->-r requirements.txt (line 15)) (6.1)
Requirement already satisfied: click-plugins>=1.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas->-r requirements.txt (line 8)) (1.1.1)
Requirement already satisfied: click>=4.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas->-r requirements.txt (line 8)) (8.0.3)
Requirement already satisfied: munch in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas->-r requirements.txt (line 8)) (2.5.0)
Requirement already satisfied: attrs>=17 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas->-r requirements.txt (line 8)) (21.4.0)
Requirement already satisfied: cligj>=0.5 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas->-r requirements.txt (line 8)) (0.7.2)
Requirement already satisfied: six>=1.7 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas->-r requirements.txt (line 8)) (1.16.0)
Requirement already satisfied: jupyter-client<8.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->-r requirements.txt (line 3)) (7.1.2)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->-r requirements.txt (line 3)) (1.5.1)
Requirement already satisfied: nest-asyncio in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets->-r requirements.txt (line 3)) (1.5.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->IPython->-r requirements.txt (line 6)) (0.8.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=3.0->altair->-r requirements.txt (line 5)) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from jsonschema>=3.0->altair->-r requirements.txt (line 5)) (0.18.1)

Requirement already satisfied: jupyter-core in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets->-r requirements.txt (line 3)) (4.9.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->IPython->-r requirements.txt (line 6)) (0.7.0)
Requirement already satisfied: wcwidth in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->-r requirements.txt (line 6)) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (6.4.8)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from jinja2->altair->-r requirements.txt (line 5)) (2.0.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from importlib-resources>=1.4.0->jsonschema>=3.0->altair->-r requirements.txt (line 5)) (3.7.0)
Requirement already satisfied: pyzmq>=13 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets->-r requirements.txt (line 3)) (22.3.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (1.8.0)
Requirement already satisfied: argon2-cffi in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (21.3.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.13.1)
Requirement already satisfied: prometheus-client in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.13.1)
Requirement already satisfied: nbconvert in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (6.4.2)
Requirement already satisfied: psutil in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from portpicker->altair-data-server>=0.4.0->altair_saver->-r requirements.txt (line 15)) (5.9.0)
Requirement already satisfied: argon2-cffi-bindings in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (21.2.0)
Requirement already satisfied: testpath in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.5.0)
Requirement already satisfied: defusedxml in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.5.11)
Requirement already satisfied: jupyterlab-pygments in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.1.2)
Requirement already satisfied: bleach in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.8.4)
Requirement already satisfied: cffi>=1.0.1 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (1.15.0)
Requirement already satisfied: packaging in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (21.3)
Requirement already satisfied: webencodings in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (0.5.1)
Requirement already satisfied: pycparser in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (2.21)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/estene/opt/anaconda3/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->-r requirements.txt (line 3)) (3.0.7)

## Load the Data

This pre-harvested dataset from Colenda includes many gifts of [Arnold and Deanne Kaplan](https://kaplan.exhibits.library.upenn.edu/thekaplans), which is concentrated in two collections. In this notebook we will only work with records from the Arnold and Deanne Kaplan Collection of **Early American Judaica**. We can access those items by using the `metadata.collection[1]` column and filtering on the Early American Judaica collection.

In [21]:
# Convert to a dataframe
df = pd.read_csv("data/kaplan-test-data-2022.csv", encoding= 'unicode_escape')

# Print the number of rows in the dataframe
print('There are {:,} items in this dataset from Colenda.'.format(df.shape[0]))

There are 10,322 items in this dataset from Colenda.

/var/folders/kl/0dwxwfpd25xdhw1l6w4r3pbr0000gs/T/ipykernel_40166/1326723904.py:2: DtypeWarning: Columns (2,3,4,5,6,11,20,26,27,28,29,30,31,32,33,34,35,36,37,43,44,45,46,52,53,54,55,56,57,58,59,60,61,62,63,78,79,80,81,82,83,84,85,87,89,90,91,100) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/kaplan-test-data-2022.csv", encoding= 'unicode_escape')

<div class="alert alert-block alert-warning">
<p>You may see a warning appear above stating that columns having "mixed types". This means that the CSV columns contain a mix of strings and integers. When converting the CSV into a dataframe, Python wasn't sure how to declare the column type. It's OK to ignore this warning for now - we may need to state directly this information later.<p>
</div>

In [22]:
# Filter for items from the Early American Judaica Collection. 
df = df.loc[df['metadata.collection[1]'] == "Arnold and Deanne Kaplan Collection of Early American Judaica (University of Pennsylvania)"]

# Return the first 5 rows of the dataframe.
df.head()

,metadata.call_number[1],metadata.collection[1],metadata.collection[2],metadata.collection[3],metadata.collection[4],metadata.collection[5],metadata.contributor[1],metadata.corporate_name[1],metadata.corporate_name[2],metadata.corporate_name[3],...,metadata.subject[3],metadata.subject[4],metadata.subject[5],metadata.subject[6],metadata.subject[7],metadata.subject[8],metadata.subject[9],unique_identifier,metadata.title[1],last_updated_on
2,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,Baum & Bernstein,NaN,NaN,...,Trade cards (advertising),NaN,NaN,NaN,NaN,NaN,NaN,ark:/81431/p3000003f,"Trade card; Baum & Bernstein; Meriden, Connect...",2021-04-11T16:09:49Z
3,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Family papers,Manuscripts (documents),NaN,NaN,NaN,NaN,NaN,ark:/81431/p3000006w,"Letter; Tobias, Henry; Liverpool, United Kingd...",2021-07-07T17:27:38Z
4,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,I. H. Brounstein's One Price Clothing House,NaN,NaN,...,Jewish merchants,Clothing trade,NaN,NaN,NaN,NaN,NaN,ark:/81431/p3000013w,Trade card; I. H. Brounstein's One Price Cloth...,2021-04-11T16:14:01Z
5,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,Kast's Fine Shoes,NaN,NaN,...,Trade cards (advertising),NaN,NaN,NaN,NaN,NaN,NaN,ark:/81431/p3000019s,"Trade card; Kast's Fine Shoes; San Francisco, ...",2021-04-11T16:14:52Z
6,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,Mandel Bro's,NaN,NaN,...,Dry-goods,Clothing trade,Jewish merchants,Trade cards (advertising),NaN,NaN,NaN,ark:/81431/p3000020w,Trade card; Mandel Bro's; undated,2021-04-11T16:18:06Z

## Reviewing the Data

In [23]:
print('There are {:,} items in Colenda from the Arnold and Deanne Kaplan Collection of Early American Judaica (University of Pennsylvania).'.format(df.shape[0]))

There are 9,250 items in Colenda from the Arnold and Deanne Kaplan Collection of Early American Judaica (University of Pennsylvania).

Now that we have this dataset in a dataframe, we can manipulate it. 

This dataset contains **descriptive metadata** about the items in the collection, which provides information about the intellectual content of a digital object. Descriptive metadata documents and tracks the intellectual content of an item, as well as support the search and discovery of these items within Colenda. The most important field of descriptive metadata is a unique identifier that uniquely identifies the object. Other descriptive metadata fields may include title, author, date of publication, subject, publisher and description. 

What descriptive metadata fields is in this dataframe?

In [24]:
# Retrieve the column names and add it to list
df.columns.to_list()

['metadata.call_number[1]',
 'metadata.collection[1]',
 'metadata.collection[2]',
 'metadata.collection[3]',
 'metadata.collection[4]',
 'metadata.collection[5]',
 'metadata.contributor[1]',
 'metadata.corporate_name[1]',
 'metadata.corporate_name[2]',
 'metadata.corporate_name[3]',
 'metadata.corporate_name[4]',
 'metadata.corporate_name[5]',
 'metadata.corporate_name[6]',
 'metadata.date[1]',
 'metadata.date[2]',
 'metadata.date[3]',
 'metadata.description[1]',
 'metadata.format[1]',
 'metadata.format[2]',
 'metadata.format[3]',
 'metadata.format[4]',
 'metadata.geographic_subject[2]',
 'metadata.geographic_subject[3]',
 'metadata.geographic_subject[4]',
 'metadata.geographic_subject[5]',
 'metadata.geographic_subject[6]',
 'metadata.geographic_subject[7]',
 'metadata.geographic_subject[8]',
 'metadata.geographic_subject[9]',
 'metadata.geographic_subject[10]',
 'metadata.geographic_subject[11]',
 'metadata.geographic_subject[12]',
 'metadata.geographic_subject[13]',
 'metadata.geographic_subject[14]',
 'metadata.geographic_subject[15]',
 'metadata.geographic_subject[16]',
 'metadata.geographic_subject[17]',
 'metadata.geographic_subject[17].1',
 'metadata.identifier[1]',
 'metadata.identifier[2]',
 'metadata.identifier[3]',
 'metadata.identifier[4]',
 'metadata.identifier[5]',
 'metadata.identifier[6]',
 'metadata.identifier[7]',
 'metadata.identifier[8]',
 'metadata.identifier[9]',
 'metadata.item_type[1]',
 'metadata.item_type[2]',
 'metadata.language[1]',
 'metadata.language[2]',
 'metadata.language[3]',
 'metadata.language[4]',
 'metadata.language[5]',
 'metadata.language[6]',
 'metadata.language[7]',
 'metadata.language[8]',
 'metadata.language[9]',
 'metadata.language[10]',
 'metadata.language[11]',
 'metadata.language[12]',
 'metadata.language[13]',
 'metadata.language[14]',
 'metadata.language[15]',
 'metadata.notes[1]',
 'metadata.notes[2]',
 'metadata.personal_name[1]',
 'metadata.personal_name[2]',
 'metadata.personal_name[3]',
 'metadata.personal_name[4]',
 'metadata.personal_name[5]',
 'metadata.personal_name[6]',
 'metadata.personal_name[7]',
 'metadata.personal_name[8]',
 'metadata.personal_name[9]',
 'metadata.personal_name[10]',
 'metadata.personal_name[11]',
 'metadata.personal_name[12]',
 'metadata.personal_name[13]',
 'metadata.personal_name[14]',
 'metadata.personal_name[15]',
 'metadata.personal_name[16]',
 'metadata.personal_name[17]',
 'metadata.personal_name[18]',
 'metadata.personal_name[19]',
 'metadata.personal_name[20]',
 'metadata.provenance[1]',
 'metadata.publisher[1]',
 'metadata.rights[1]',
 'metadata.subject[10]',
 'metadata.subject[11]',
 'metadata.subject[12]',
 'metadata.subject[1]',
 'metadata.subject[2]',
 'metadata.subject[3]',
 'metadata.subject[4]',
 'metadata.subject[5]',
 'metadata.subject[6]',
 'metadata.subject[7]',
 'metadata.subject[8]',
 'metadata.subject[9]',
 'unique_identifier',
 'metadata.title[1]',
 'last_updated_on']

That is a long list of columns! You'll notice some similar fields:

* **metadata.call_number** includes the physical item's location in the library
* **metadata.collection** includes the name of the collection(s) with which the item is associated
* **metadata.contributor** includes any responsible for making contributions to the resource
* **metadata.corporate_name** includes any businesses, organizations, or institutions that are mentioned or associated with the item 
* **metadata.date** includes any dates that appear on the item, or that may be associated with the item
* **metadata.description** includes a short account of the item
* **metadata.format** is the singular version of the *metadata.item_type'* fields
* **metadata.geographic_subject** includes any geographic locations associated with the item
* **metadata.identifier** includes any other "names" or unique terms used to refer to this item
* **metadata.item_type** includes the genre(s) of the resource.
* **metadata.language** includes any languages that appear on the item
* **metadata.notes** includes any notes associated with the item
* **metadata.personal_name** includes any individuals that are mentioned or associated with the item
* **metadata.provenance** includes the history of the physical item
* **metadata.publisher** includes the publisher of the item
* **metadata.rights** includes information about rights held in and over the item
* **metadata.subject** includes any terms used to categorize the item
* **metadata.title** includes a short name given to the resource
* **unique_identifier** is the [Archival Resource Key identifier](https://n2t.net/e/ark_ids.html) (more on this later)

Not every item has a value for every column. Let's create a quick count of the number of values in each column.

In [25]:
# Count non-NA cells for each column (cells not missing data)
df.count()

metadata.call_number[1]    8382
metadata.collection[1]     9250
metadata.collection[2]       17
metadata.collection[3]       12
metadata.collection[4]        2
                           ...
metadata.subject[8]          32
metadata.subject[9]          12
unique_identifier          8383
metadata.title[1]          9250
last_updated_on            9250
Length: 104, dtype: int64

Let's express those counts as a percentage of the total number of records, and display them as a bar chart using Pandas.

In [26]:
# Get the counts for each column and convert to a new dataframe
field_counts = df.count().to_frame().reset_index()

# Change column headings
field_counts.columns = ['Field', 'Count']

# Calculate proportion of the total
field_counts['Proportion'] = field_counts['Count'].apply(lambda x: x / df.shape[0])

# Style the results as a barchart
field_counts.style.bar(subset=['Proportion'], color='#d65f5f').format({'Proportion': '{:.2%}'.format})

## Concatenate and Split Columns

Some of the column headings appear multiple times, identified by a number at the end of it. For example, the `metadata.item_type` column appears twice, indicating there are two item types for some items. For comparative and quantitative data analysis, we may need to split those items into multiple rows instead of columns.

Let's use `metadata.item_type` as an example of how we can concatenate and split these columns. How many items have more than one item type?

In [27]:
# Count how many rows are not blank in the 'metadata.item_type[2]'' column
df['metadata.item_type[2]'].count()

47

Let's take a look at those items.

In [28]:
# Create a filtered dataframe by 'metadata.item_type[2]', including only those that have data in that column
df1 = df[df['metadata.item_type[2]'].notnull()]

# Return the first 5 lines of the df1 dataframe
df1.head()

,metadata.call_number[1],metadata.collection[1],metadata.collection[2],metadata.collection[3],metadata.collection[4],metadata.collection[5],metadata.contributor[1],metadata.corporate_name[1],metadata.corporate_name[2],metadata.corporate_name[3],...,metadata.subject[3],metadata.subject[4],metadata.subject[5],metadata.subject[6],metadata.subject[7],metadata.subject[8],metadata.subject[9],unique_identifier,metadata.title[1],last_updated_on
2031,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,Savannah Republican,NaN,NaN,...,Jewish merchants,General stores,NaN,NaN,NaN,NaN,NaN,ark:/81431/p37p8tc5c,Broadside; Letter; Cohen; Savannah Republican;...,2021-07-08T22:37:22Z
7308,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,Pollak Bros.,NaN,NaN,...,Jewish merchants,Jewelry trade,Jewelry stores,NaN,NaN,NaN,NaN,ark:/81431/p3374v,"Envelope; Pollak, Chas.; Pollak Bros.; Kansas ...",2021-09-23T15:28:16Z
7313,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,New Orleans Wholesale Price Current,Benjamin Levy,NaN,...,Jewish printers,Printing industry,Lists (document genres),NaN,NaN,NaN,NaN,ark:/81431/p33b1r,"Periodical; Levy, Benjamin; New Orleans Wholes...",2021-09-23T15:26:06Z
7346,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,Levensohn & Galland,NaN,NaN,...,Food industry and trade,General stores,Dry-goods,Clothing trade,NaN,NaN,NaN,ark:/81431/p33q9k,"Envelope; Letter; Levensohn, Mayer; San Franci...",2021-10-19T15:09:38Z
7378,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,S. M. Rosenbaum,Fry & Stebbins,NaN,...,Jewish merchants,Money,NaN,NaN,NaN,NaN,NaN,ark:/81431/p3418m,"Envelope; Rosenbaum, S. M.; S. M. Rosenbaum; R...",2021-08-09T18:20:00Z

In order to accurately count how many items of each item type are included in this dataset, we need to split the values in those cells into individual rows. 

We'll write two **functions** help us do that: 
* `tidy_split` splits the values of each cell on a "|" so that there is one split value per row
* `tidy_concat` concatenates (combines) the values of columns that begin with a similar phrase into one cell with a "|" before using `tidy_split`. 

Now instead of having one row for each item with multiple types, we can have one row for each type associated with an item.

The `tidy_split` function come from [Project Cognoma](http://cognoma.org/).

<div class="alert alert-block alert-warning">
<p>A function is a block of reusable code that is used to perform a single, related action. Learn more about functions <a href="https://www.w3schools.com/python/python_functions.asp">here</a>.</p>
</div>

In [29]:
# Split the values of a column and expand so that the new DataFrame has one split value per row
# Filters rows where column is empty 
def tidy_split(df, column, sep='|', keep=False):
    """
    Params
    ------
    df : pandas.DataFrame
        dataframe with the column to split and expand
    column : str
        the column to split and expand
    sep : str
        the string used to split the column's values
    keep : bool
        whether to retain the presplit value as it's own row

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

In [30]:
# Concatenate the values of columns beginnigng with a string and then use the tidy_split function to expand so that the new DataFrame has one split value per row
def tidy_concat(df, column_starts_with, sep="|"):
    """
    Params
    ------
    df : pandas.DataFrame
        dataframe with the columns to split and expand
    column_starts_with : str
        the string at the beginning of the column(s) to split
    sep : str
        the string used to split the column's values

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    list_of_columns = df.columns.to_list()
    columns_to_concat = [x for x in list_of_columns if x.startswith(column_starts_with)]
    df[column_starts_with] = df[columns_to_concat[0]]
    for column in columns_to_concat[1:]:
        df[column_starts_with] = df[column_starts_with].astype(str) + sep + df[column].astype(str)
    new_df = tidy_split(df, column_starts_with, sep='|')
    new_df = new_df.drop(columns_to_concat, axis=1)
    return new_df

In [31]:
# Use the function to split the values of the Type column and expand so that the new DataFrame has one split value per row
df = tidy_concat(df, 'metadata.item_type', sep='|')

# Report the dimensionality of the dataframe (number of rows, number of columns)
df.shape

(18500, 103)

## The `metadata.item_type` Field

The `metadata.item_type` field refers to the type of item: books, manuscripts, sound recordings, etc. Let's look at the 25 most common item types in the collection.

In [32]:
# Return a Series containing counts of unique rows in the dataframe for each Type (up to 25 Types)
df['metadata.item_type'].value_counts()[:25]

nan                       9204
Trade cards               3934
Letters                   1033
Billheads                  541
Periodicals                384
Books                      321
Receipts                   321
Billhead                   285
Letterheads                202
Envelopes                  196
Pamphlets                  174
Monetary                   170
Broadsides                 154
Legal documents            124
Deeds                      116
Ports of entry             109
Cartes-de-visite           108
Official documents          66
Negotiable instruments      64
Miscellaneous               62
Court records               53
Manuscripts                 51
Invitations                 42
Photographs                 35
Sheet music                 34
Name: metadata.item_type, dtype: int64

`nan` refers to empty values, meaning that there are no item types listed for those rows. 
Of all the item types that appear in the collection, how many item types only appear once?

In [33]:
# Create a new dataframe called type_counts, which includes a Type column and a Count column
type_counts = df['metadata.item_type'].value_counts().to_frame().reset_index().rename({'index': 'type', 'metadata.item_type': 'count'}, axis=1)

# Locate the rows that have a 'unique' type, or a count of 1
unique_types = type_counts.loc[type_counts['count'] == 1]

# Print the number of rows in the dataframe
print('There are {:,} items from the collection with unique item types.'.format(unique_types.shape[0]))

There are 64 items from the collection with unique item types.

Interesting! Let's save the complete list of types as a CSV file for future reference.

In [34]:
# Write the type_counts dataframe to a comma-separated values (csv) file.
type_counts.to_csv('data/colenda_item_type_counts.csv', index=False)

# Display a link to the CSV.
display(FileLink('data/colenda_item_type_counts.csv'))

/Users/estene/Documents/GitHub/collections-as-data-notebooks/data/colenda_item_type_counts.csv

Browsing the CSV, I noticed that there was one item with the type `Clocks`. Let's find some more out about it.

In [35]:
# Find the item in the complete data set
clocks = df.loc[df['metadata.item_type'].notnull()]['metadata.item_type'].apply(lambda x: 'Clocks' in x)
clock = df.loc[df['metadata.item_type'].notnull()][clocks]
clock

,metadata.call_number[1],metadata.collection[1],metadata.collection[2],metadata.collection[3],metadata.collection[4],metadata.collection[5],metadata.contributor[1],metadata.corporate_name[1],metadata.corporate_name[2],metadata.corporate_name[3],...,metadata.subject[4],metadata.subject[5],metadata.subject[6],metadata.subject[7],metadata.subject[8],metadata.subject[9],unique_identifier,metadata.title[1],last_updated_on,metadata.item_type
850,Arc.MS.56,Arnold and Deanne Kaplan Collection of Early A...,NaN,NaN,NaN,NaN,NaN,J. Warshawsky,NaN,NaN,...,Jewelry stores,NaN,NaN,NaN,NaN,NaN,ark:/81431/p3319s54c,Clock; J. Warshawsky; undated,2021-04-14T12:52:23Z,Clocks

We can create a link into the item's record in Colenda using its `unique_identifier`. The value in this column is an [Archival Resource Key identifier](https://n2t.net/e/ark_ids.html), designed to support long-term access to information objects. This identifier can be divided into three parts, separated by `/`: the ARK label, the collection of which the item is a part, and the unique identifier for the item within the collection.

To create the link, we only need the second and third part of the unique identifier.

In [36]:
# Select the first row in the dataframe
identifier = clock.iloc[0]['unique_identifier']

# Split the string up to the second occurrence of "/" and join all but the first element of the split string 
identifier = "-".join(identifier.split("/", 2)[1:])

# Display the link to the item in Colenda, with the item-specific URL and the item's title as the hyperlinked text 
display(HTML('<a href="https://colenda.library.upenn.edu/catalog/{}">{}</a>'.format(identifier, clock.iloc[0]['metadata.title[1]'])))

## Access Images of Items in the Collection

The images in Colenda for these items are available under the [**International Image Interoperability Framework (IIIF)**](https://iiif.io/), which makes these images accessible and interoperable between image repositories. 

To display those images, we'll write two **functions** help us do that: 
* `_src_from_data` splits the values of each cell on a "|" so that there is one split value per row, and 
* `gallery` shows a set of images in a gallery that flexes with the width of the notebook. 

These functions for working with IIIF images come from [BVMC Labs](http://data.cervantesvirtual.com/).

In [37]:
# Encode image bytes for inclusion in an HTML img element
def _src_from_data(data):
    img_obj = Image(data=data)
    for bundle in img_obj._repr_mimebundle_():
        for mimetype, b64value in bundle.items():
            if mimetype.startswith('image/'):
                return f'data:{mimetype};base64,{b64value}'

#  Shows a set of images in a gallery that flexes with the width of the notebook.
def gallery(dictionary, row_height='auto'):
    figures = []
    for image, label in dictionary.items():
        src = image
        figures.append(f'''<figure style="margin: 5px !important;">
        <img src="{src}" 
        style="height: {row_height}">
        <figcaption style="font-size: 1em">{label}</figcaption>
        </figure>''')
    return HTML(data=f'''<div style="display: flex; flex-flow: row wrap; text-align: center;">{''.join(figures)}</div>''')

Let's take a look at the images of the clock.

In [38]:
# Requests is a Python package that allows you to send HTTP/1.1 requests.
import requests

# Create a string that is the link to the item-specific IIIF manifest. 
manifest = "https://colenda.library.upenn.edu/phalt/iiif/2/" + identifier + "/manifest"

# Get the manifest
r = requests.get(manifest)

# Get the information about all the images for this item as a list 
results = r.json()["sequences"][0]['canvases']

# Create a dictionary to collect each image URL (key) and corresponding label (value) for this item. 
imagesDict = {}

# Iterate over each image in the results list to extract the URL and label for the image, adding it to the lists above
for i in range(len(results)):
    label = results[i]['label']
    resource = results[i]['images'][0]['resource']
    images = resource['@id']
    imagesDict[images] = label 
    
# Display the images as a gallery    
gallery(imagesDict, row_height='150px')

Nice work! We can now use these basic instructions to explore more aspects of the collection.

# Need Help?
<div class="alert alert-block alert-warning">
    <p>For additional Python and Digital Scholarship resources:</p>
    <ul>
        <li><a href"https://www.w3schools.com/python/pandas/default.asp">Pandas Tutorial from W3 Schools</a></li>
        <li><a href"https://altair-viz.github.io/altair-tutorial/README.html">Altair Tutorial from W3 Schools</a></li>
        <li><a href="https://guides.library.upenn.edu/digital-scholarship">Center for Research Data and Digital Scholarship</a></li>
    </ul>
    <p>For help with this notebook:</p>    
<ul>
    <li>If you encounter any errors in this notebook, you can open an issue on GitHub or email estene@upenn.edu and reference this notebook.</li>

<li>If you encounter any errors while working with the collection metadata (an incorrect date or broken ARK identifier), you can email estene@upenn.edu.</li>

<li>Colenda is still a beta service. If you encounter issues with accessing any of the IIIF images or links, visit
    <a href="https://colenda.library.upenn.edu/">Colenda</a></li>
    </ul>
</div>

----

# Credits

Created by [Emily Esten](https://www.library.upenn.edu/people/staff/emily-esten). 

Judaica Digital Humanities at the <a href="http://library.upenn.edu">Penn Libraries</a> (also referred to as Judaica DH) is a robust program of projects and tools for experimental digital scholarship with Judaica collections, informed by digital humanities, Jewish studies, and cultural heritage approaches. Visit our [website](judaicadh.library.upenn.edu).

The pre-harvested dataset for this notebook works with items from the **Arnold and Deanne Kaplan Collection of Early American Judaica**. Donated to the University of Pennsylvania Libraries in 2012 by the Kaplans, and growing each year, this collection teaches us about the everyday lives, families, communal institutions, religious organizations, voluntary associations,  businesses, and political circumstances of Jewish life throughout the western hemisphere over four centuries. More information about the collection can be found at [https://kaplan.exhibits.library.upenn.edu](https://kaplan.exhibits.library.upenn.edu). 

This notebook references existing code and Jupyter notebooks, including: 
* [GLAM Workbench for the National Museum of Australia](https://doi.org/10.5281/zenodo.3544747) sponsored by the [Humanities, Arts and Social Sciences (HASS) Data Enhanced Virtual Lab](https://tinker.edu.au/).
* [Library of Congress Data Exploration: IIIF](https://github.com/LibraryOfCongress/data-exploration/blob/26510c3f4da0bc85dfa87e82141173b1830e9d64/IIIF.ipynb).
* Gustavo Candela, MarÃ­a Dolores SÃ¡ez, Pilar Escobar, Manuel Marco-Such, & Rafael C.Carrasco. (2020, May 8). hibernator11/notebook-iiif-images: release1.1 (Version 1.1). Zenodo. [http://doi.org/10.5281/zenodo.3816611](https://zenodo.org/badge/latestdoi/255172461). 
* [Genes for Project Cognoma](https://github.com/cognoma/genes/blob/721204091a96e55de6dcad165d6d8265e67e2a48/2.process.py)
* https://mindtrove.info/jupyter-tidbit-image-gallery/